**Summary statistics by category**

In [1]:
import resourcegeo as rs
df = rs.BaseData('assay_geo').data
rs.stats_contvar_cat(df,['CUpc','NIpc'],'ai',catcol='UNIT',cats=['BH','2','3'])

         count  weight_sum      mean   std dev        cv   min  median   max  \
CUpc BH     78       680.5  0.344539  0.467738  1.357575  0.01   0.355  6.95
     2      82       304.0  0.239589  0.259054  1.081243  0.02   0.140  0.89
     3     237      1467.7  0.232519  0.286849  1.233660  0.01   0.160  5.55
NIpc BH     78       680.5  0.092392  0.313960  3.398120  0.01   0.075  5.20
     2      82       304.0  0.078273  0.065122  0.831991  0.02   0.060  0.26
     3     237      1467.7  0.068341  0.043538  0.637071  0.01   0.060  0.24

           q1     q3
CUpc BH  0.14  0.465
     2   0.09  0.370
     3   0.07  0.300
NIpc BH  0.04  0.100
     2   0.04  0.100
     3   0.03  0.090