**Report a block model**

In [2]:
import resourcegeo as rs
bm  = rs.BaseData('bm').data
model = rs.BlockModel(bm,dx='dx',dy='dy',dz='dz')

grades = {'grade1':{'cutoff':10}}
mined_out = {'mined':[['mined'], ['mined','unmined']]}
otype_code = {'otype':[['Oxide'],['Sulfide']]}
classif = {'classification':[[1,2]]}

model.report(vars=grades,density_col='density',mined_out=mined_out,
                        classif_code=classif, otype_code=otype_code)

,volume,mass,grade1_cog10.000,mined,otype,classification
0,242187.5,6.226887e+05,12.600368,['mined'],['Oxide'],"[1, 2]"
1,276562.5,6.912565e+05,12.060908,['mined'],['Sulfide'],"[1, 2]"
2,454687.5,1.179607e+06,12.433651,"['mined', 'unmined']",['Oxide'],"[1, 2]"
3,462500.0,1.167224e+06,12.062587,"['mined', 'unmined']",['Sulfide'],"[1, 2]"